<div class="container">
    <div *ngFor="let exercise of exercises" class="exercice">
        <div class="imgContainer">
            <img class="exoImg" [src]="'./' + exercise.name + '.png'" />
            <img
                class="exoImgHover"
                [src]="'./dummy_muscles/' + exercise.type + '.png'"
            />
        </div>
        <h3>{{ exercise.name.replace("_"," ") }}</h3>
        <div class="set">
            <button (click)="copyToClipboard(exercise.sets[0])">Copy</button>
            <p class="setText0">{{ exercise.sets[0] }}</p>
        </div>
        <div class="set">
            <button (click)="copyToClipboard(exercise.sets[1])">Copy</button>
            <p class="setText1">{{ exercise.sets[1] }}</p>
        </div>
        <div class="set">
            <button (click)="copyToClipboard(exercise.sets[2])">Copy</button>
            <p class="setText2">{{ exercise.sets[2] }}</p>
        </div>
    </div>
</div>
